@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(blue, pink);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 222px;
    height: 350px;
    background-color: #393939;
    padding: 5px;
    padding-top: 30px;
    box-shadow: 7px 7px 10px hsl(240, 0%, 20%);
    border-radius: 10px;
}

#marca {
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-bottom: 28px;
}

.screen {
    height: 40px;
    width: 150px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 10px;
    border: 2px outset grey;
    border-radius: 5px;
    background-color: lightgray;
}

.keys {
    width: 250px;
}

.btn, .dot {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 15px;
    border-color: grey;
    box-shadow: 2px 2px 0px grey;
    background-color: white;
}

.btn:hover, .dot:hover, .operator:hover {
    background-color: lightgray;
    box-shadow: 1.5px 1.5px 0px grey;
    cursor: pointer;
}

.operator {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 15px;
    border-color: grey;
    box-shadow: 2px 2px 0px grey;
    background-color: lightgray;
}